*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffffff;
    font-family:sans-serif;
}

.container{
    width:1000px;
    height:550px;

    background:#1f1f1f;
    color:white;

    margin:40px auto;
    padding:50px;
}

.number{
    color:#d67b39;
    font-size:15px;
    margin-bottom:30px;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

.text{
    font-size:22px;
    line-height:1.8;
}

.info{
    display:flex;
    gap:80px;
    margin-top:180px;
}

.item h2{
    color:#d67b39;
    font-size:50px;
}

.item p{
    margin-top:10px;
    color:#ddd;
}